## Python Basic

In [1]:
import pandas as pd

In [34]:
data = [['A1', 28], ['A2', 32], ['A3', 1], ['A4', 0],
['A5', 10], ['A6', 22], ['A7', 30], ['A8', 19],
['B1', 145], ['B2', 27], ['B3', 36], ['B4', 25],
['B5', 9], ['B6', 38], ['B7', 21], ['B8', 12],
['C1', 122], ['C2', 87], ['C3', 36], ['C4', 3],
['D1', 0], ['D2', 5], ['D3', 55], ['D4', 62],
['D5', 98], ['D6', 32]]
df = pd.DataFrame(data, columns = ["sites", "Number of banded birds"])
df.head()

  sites  Number of banded birds
0    A1                      28
1    A2                      32
2    A3                       1
3    A4                       0
4    A5                      10

In [13]:
# How many sites are there?
print("There are " + str(len(df.sites)) + " sites")

There are 26 sites

In [35]:
#How many birds were counted at the 7th site?
print(str(df.iloc[6,1]) + " number of birds were counted at the 7th site")

30 number of birds were counted at the 7th site

In [39]:
# How many birds were counted at the last site?
print(str(df.iloc[-1,1]) + " number of birds were counted at the last site")

32 number of birds were counted at the last site

In [42]:
# What is the total number of birds counted across all sites?
sum_total = df["Number of banded birds"].sum(axis = 0, skipna = True)
print(str(sum_total) + " birds were counted across all sites")

955 birds were counted across all sites

In [51]:
# What is the average number of birds seen on the site?
average_no_of_birds = sum_total/len(df.sites)
print("Average number of birds seen on the sites are " + str(round(average_no_of_birds,0)))

Average number of birds seen on the sites are 37.0

In [55]:
# What is the total number of birds counted on sites with codes beginning with C?
C_sites = df[df.sites.str.startswith("C")]
sum_total_sites_C = C_sites["Number of banded birds"].sum(axis = 0, skipna = True)
print(str(sum_total_sites_C) + " birds were counted across sites C")

248 birds were counted across sites C

## Python Intermediate

Write a function that takes a list of lists and returns 
the value of all of the symbols in it, where each symbol adds or takes 
something from the total score. Symbol values:

- `#` = 5
- `O` = 3
- `X` = 1
- `!` = -1
- `!!` = -3
- `!!!` = -5

In [87]:
def check_score(li):
    """This function checks the score output
    on a list of list based on the symbol. If output is negative, it returns zero."""
    symbols = {"#":5, "O":3, "X":1, "!":-1,"!!":-3, "!!!":-5}
    sum_of = 0
    for list in li:
        for i in list:
            value = symbols[i]
            sum_of += value
    
    if sum_of > 0:
        return sum_of
    else:
        return 0

In [88]:
check_score([
  ["#", "!"],
  ["!!", "X"]
])

2

In [89]:
check_score([
  ["!!!", "O", "!"],
  ["X", "#", "!!!"],
  ["!!", "X", "O"]
])

0

In [90]:
check_score([
  ["#", "O", "#", "!!", "X", "!!", "#", "O", "O", "!!", "#", "X", "#", "O"],
  ["!!!", "!!!", "!!", "!!", "!", "!", "X", "!", "!!!", "O", "!", "!!!", "X", "#"],
  ["#", "X", "#", "!!!", "!", "!!", "#", "#", "!!", "X", "!!", "!!!", "X", "O"],
  ["!!", "X", "!!", "!!", "!!!", "#", "O", "O", "!!!", "#", "O", "O", "#", "!!"],
  ["O", "X", "#", "!", "!", "X", "!!!", "O", "!!!", "!!", "O", "!", "O", "X"],
  ["!!", "!!!", "X", "!!!", "!!", "!!", "!!!", "X", "O", "!", "#", "!!", "!!", "!!!"],
  ["!!", "!!", "#", "O", "!", "!!", "!", "!!!", "#", "O", "#", "!", "#", "!!"],
  ["X", "X", "O", "X", "!!!", "#", "!!!", "!!!", "X", "X", "X", "!", "#", "!!"],
  ["O", "!!!", "!", "O", "#", "!", "!", "#", "X", "X", "#", "O", "!!", "!"],
  ["X", "!", "!!", "#", "#", "X", "!!", "O", "!!", "X", "X", "!!", "#", "X"],
  ["!", "!!", "!!", "O", "!!", "!!", "#", "#", "!", "!!!", "O", "!", "#", "#"],
  ["!", "!!!", "!!", "X", "!!", "!!", "#", "!!!", "O", "!!", "!!!", "!", "!", "!"],
  ["!!!", "!!!", "!!", "O", "!", "!", "!!!", "!!!", "!!", "!!", "X", "!", "#", "#"],
  ["O", "O", "#", "O", "#", "!", "!!!", "X", "X", "O", "!", "!!!", "X", "O"]
])

12